*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/****************************
/*******************
/*                         */

h2,
p {
 padding-top: 1rem;
 padding-bottom: 1rem;
}

/****************************
/*******************
/*                         */




/****************************
/*******************
/*         nav                */

nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 1.5rem;
 color: #00006b;
}
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      nav button {
       border: none;
       background-color: inherit;
       margin-left: 1rem;
       font-size: larger;
      }

      nav .logo  {
        display: flex;
      }

      nav .logo img {
        width: 30px;
        height: 30px;
      }


      /****************************
      /*******************
      /*       home-page-top          */  
      .menu-btn {
        width: 24px;
        height: 2.5px;
        cursor: pointer;
      }
      
      .menu-btn__burger {
        position: absolute;
        width: 24px;
        height: 2px;
        background: #111;
      }
      
      /* ::after creates a pseudo-element that is the last child of the selected element.
      It is often used to add cosmetic content to an element with the content property.*/
      .menu-btn__burger::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 1.5px;
        top: -8px;
        background: #111;
      }
      
      /* ::before creates a pseudo-element that is the first child of the selected element.
      It is often used to add cosmetic content to an element with the content property.*/
      .menu-btn__burger::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        top: 8px;
        background: #111;
      }

/****************************
/*******************
/*       home-page-top          */
.home-page-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.223),
    rgba(0, 0, 0, 0.223)
  ),
    url(./images/homepage/triodoshippo-home.jpeg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f1e7e7;
}

        .home-page-top_content {
          width: 80%;
          font-size: 1rem;
        }

        .home-page-top_content h2{
          font-size: 2.5rem;
        }

        .home-page-top_content p{
          font-size: 1.3rem;
          color: #F8F6F2;
        }

        .home-page-top_content button{
          margin-top: 1.5rem;
          padding: 14px 2rem;
          font-size: 18px;
          cursor: pointer;
          border: 2px solid rgba(0, 0, 0, 0.223);
          border-radius: 6px;
          color: #00006b;
          font-weight: 700;
        }

        .home-page-top_content button:hover{
        transition: ease-in-out .4s;
        border: 2px solid rgb(0, 0, 107);

        }



/****************************
/*******************
/*    home-page-bottom     */

 .home-page-bottom {
  font-weight: 500;
  color: #00006b;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

      

/****************************
/*******************
/*    section 3     */

.section-3 {
 background-color: #e6f2f5;
 color: #00006b;
 height: auto;
 padding-bottom: 2rem;
}
     
      .section-3 .item-1 {
        padding-bottom: 2rem;
        padding-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 900;
       }

            .section-3 .item-1 h3{
              font-size: 1.3rem;
              margin-bottom: .8rem;
            }

            .section-3 .item-1 ul li {
              list-style: none;
              padding-bottom: .8rem;
              font-size: 1.1rem;
            }

            .section-3 .item-1 ul li a,
            .section-3 .item-3 a{
              color: #00006b;
              text-decoration: none;
              position: relative;
             }

          
            
             .section-3 .item-1 ul li a:after,
             .section-3 .item-3 a:after{
              content: '';
              width: 100%;
              position: absolute;
              left: 0;
              top: 21px;
              border-width: 0 0 1px;
              border-bottom: 2px solid #6d83ad;
              
            }
           
            .section-3 .item-1 .item-1_content-1 {
             margin-right: 6rem;
            }

            .section-3 .item-1 .fa-chevron-right,
            .section-3 .item-3 .fa-chevron-right {
              padding-right: .5rem;
              font-size: .8rem;
            }

            
       

      .section-3 .item-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: #fcf9f9;
        min-width: 90%;
        height: 14vh;
      }

            .section-3 .item-2 button{
            width: 40px;
            height: 40px;
            border-radius: 90%;
            font-size: 2rem;
            border: 2px solid #bfbfbf;
            background-color: inherit;
            }


      .section-3 .item-3 {
       background-color: #FFF5B9;
       padding: 1.5rem;
       margin-top: 4rem;
      } 


            .section-3 .item-3 .fa-chevron-right {
              padding-right: .5rem;
              font-size: .8rem;
            }


            .section-3 .item-3 a {
              font-weight: 900;
            }


/****************************
/*******************
/*         */


.section-slide-1 {
  background-image: linear-gradient(
    to top,
    hsl(205, 100%, 50%),
    hsl(124, 100%, 19%)
  );
  height: 30%;
  grid-auto-columns: 100%;
 display: grid;
  position: relative;
}

      .section-slide-1 h2{
        text-align: center;
      }
      .slider-1 {
       
        display: flex;
        height: auto;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
        scroll-behavior: smooth;
       
     
      }

          .img-slider {
            position: relative;
            margin: 0.2rem;
            flex: none;
          
            height: 40vh;
          }

          .img-slider img {
            display: block;
  width: 50vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
           /* object-fit: cover; */
            border-radius: 20px;
           
          }
  /*
          .content-slider {
            position: absolute;
            object-fit: cover;
            object-position: center;
            inset: 0;
            padding: 1rem;
          }


       */
/*************************
/*****************
/*                      */

.section-4 {
  background-color: #4bf0b9;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #00006b;
}
      .section-4 button
      {
        background-color: inherit;
        padding: 14px 2.8rem;
        font-size: 18px;
        border-radius: 30px;
        margin-left: .7rem;
        margin-right: .7rem;
        color: #00006b;
        border: 2px solid rgba(0,0,107,.3);
        cursor: pointer;
      }
      
      .section-4 button:hover
      {
        border: 2px solid #00006b;
      }
      

      .section-4-content {
        padding-top: 2rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .btn-top {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      


    .btn-bottom button:nth-child(3){
      padding: 14px 1.5rem;
      border-radius: 50%;
    }

/*************************
/*****************
/*                      */

.section-5 {
  background-image: url(./images/homepage/triodoshippo_heroImageFullWidthSmallDesktop.png);
  height: auto;
  background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #ffffff;
}
       
      .section-5 h3{
         padding-top: 2rem;
         font-size: 1.4rem;
      }

      .section-5 h2{
        padding-top: 9rem;
        padding-bottom: 2rem;
        width: 70%;
        text-align: center;
        font-size: 1.9rem;
      }

      .section-5 button {
        background: #fff;
        text-shadow: none;
        padding: 14px 2.8rem;
        font-size: 18px;
        border-radius: 6px;
        border: 2px solid rgba(0,0,107,.3);
        margin-bottom: 2rem;
      }


/*************************
/*****************
/*                      */

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  color: #00006b;
  max-width: 100%;
}
   

   .section-6 .item-1 h2{
     padding-top: 2rem;
     padding-bottom: 2rem;
     text-align: center;
    }

    .section-6 .item-2 {
      background-color: #4bf0b9;
      border-radius: 6px;
      padding: 1rem;
      text-align: center;
      padding-bottom: 2rem;
     }


    .section-6 .item-2  h3{
       padding-bottom: 2rem;
    }

    .section-6 .item-2 button {
      border: 2px solid rgba(0,0,107,.3);
      padding: 1em 1.2em;
      border-radius: 6px;
      line-height: 1.3333333333;
      background: transparent;
      outline: 0;
      cursor: pointer;
      color: #00006b;
      text-align: center;
      font-weight: 700;
    }
    .section-6 .item-3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
   
  
   }

   .section-6 .item-3 .item-3-content{
    width: 29%;
   }

   .section-6 .item-3 .item-3-content h3{
     padding-bottom: 1rem;
   }

   .section-6 .item-3 .item-3-content ul li{
    list-style: none;
    font-size: 1.2rem;
  }
  .section-6 .item-3 .item-3-content ul li a{
    list-style: none;
    color: #00006b;
  }

  .section-6 .item-3 .item-3-content  .fa-chevron-right {
    margin-right: 1rem;
  }



/*************************
/*****************
/*                      */

.section-7 {
 background-image: url(./images/homepage/triodoshippo_heroImageFullWidthSmallDesktop.jpeg);
 background-size: cover;
 height: 60vh;
 text-align: center;
}

    .section-7-content {
      color: #fff;
      padding-top: 10rem;
    }

    .section-7-content h2{
      font-size: 3rem;
      padding-top: 0rem;
    }

    .section-7-content p{
      font-size: 1.3rem;
      padding-top: 1rem;
      padding-bottom: 3rem;
    }

    .section-7-content button{
      border-radius: 30px;
      padding: 15px 2.8rem;
      border: 2px solid rgba(0,0,107,.2);
      color: #00006b;
      font-size: 1.2rem;
      line-height: 1.5;
    }

/*************************
/*****************
/*                      */

footer {
  background-color: #00006b;
  height: auto;
  padding: 2rem 4rem;
}

button.dropbtn {
  border: 2px solid #e5f1f4;
  padding: 1rem 3.5rem;
  text-align: start;
}

.dropbtn {
  background-color: transparent;
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2d2dae;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border: 2px solid #6d83ad;
}


.footer-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}


.social-media h3{
  color: #f1f1f1;
  padding-bottom: .5rem;

}

.social-media .fa{
  color: #f1f1f1;
  margin-right: 2rem;
  
}

.footer-nav ul li{
  display: inline;
  color: #f1f1f1;
  padding-right: .9rem;
}

.footer-nav ul li a{
  display: inline;
  color: #f1f1f1;
  text-decoration: none;
}
.footer-nav .fa-chevron-right {
  padding-right: .5rem;
}

/*************************
/*****************
/*                      */
       @media screen and (min-width: 600px) {
        
         #container-1 {
  width: 80%;
  margin: 0 auto;
 }

 .container-2 {
  width: 70%;
  margin: 0 auto;
 }
        body {
        
        }
        .flexbox-list {
           justify-content: space-between;
        }
       
        .flexbox-item {
         width: 32%;
        }


        .section-3 {
          background-color: #e6f2f5;
          color: #00006b;
          height: auto;
          padding-bottom: 2rem;
         }
              
               .section-3 .item-1 {
                 display: flex;
                 align-items: center;
                 padding-bottom: 2rem;
                 padding-top: 2rem;
                 margin-bottom: 2rem;
                 font-weight: 900;
                }
         
                     .section-3 .item-1 h3{
                       font-size: 1.3rem;
                       margin-bottom: .8rem;
                     }
         
                     .section-3 .item-1 ul li {
                       list-style: none;
                       padding-bottom: .8rem;
                       font-size: 1.1rem;
                     }
         
                     .section-3 .item-1 ul li a,
                     .section-3 .item-3 a{
                       color: #00006b;
                       text-decoration: none;
                       position: relative;
                      }
         
                   
                     
                      .section-3 .item-1 ul li a:after,
                      .section-3 .item-3 a:after{
                       content: '';
                       width: 100%;
                       position: absolute;
                       left: 0;
                       top: 21px;
                       border-width: 0 0 1px;
                       border-bottom: 2px solid #6d83ad;
                       
                     }
                    
                     .section-3 .item-1 .item-1_content-1 {
                      margin-right: 6rem;
                     }
         
                     .section-3 .item-1 .fa-chevron-right,
                     .section-3 .item-3 .fa-chevron-right {
                       padding-right: .5rem;
                       font-size: .8rem;
                     }
         
                     
                
         
               .section-3 .item-2 {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding-left: 3rem;
                 padding-right: 3rem;
                 background-color: #fcf9f9;
                 min-width: 90%;
                 height: 14vh;
               }
         
                     .section-3 .item-2 button{
                     width: 40px;
                     height: 40px;
                     border-radius: 90%;
                     font-size: 2rem;
                     border: 2px solid #bfbfbf;
                     background-color: inherit;
                     }
         
         
               .section-3 .item-3 {
                background-color: #FFF5B9;
                padding: 1.5rem;
                margin-top: 4rem;
               } 
         
         
                     .section-3 .item-3 .fa-chevron-right {
                       padding-right: .5rem;
                       font-size: .8rem;
                     }
         
         
                     .section-3 .item-3 a {
                       font-weight: 900;
                     }
      /*********************
      /**************
      /*  */

      .slider-1 {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
       
     
      }

          .img-slider {
            padding-top: 2rem;
            background-color: #714141;
          width: 28%;
            background-color: inherit;
          }

          .img-slider img {
        width: 100%;
      
           /* object-fit: cover; */
           border-radius: 20px;
           
          }
      }